.right {
    background-color: #00c6b2 !important;
}

.wrong {
    background-color: #c29797 !important;
}

.loading {
    opacity: 0.5;
}

#answer {
    transition: background-color 0.5s;
}

label {
    margin-right: 10px;
}

#load-container {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}